/* Header
############################################################################ */
.header {
  padding-bottom: var(--size-xl);
  text-align: center;
  
  @media only screen and (width >= 40rem) {
    text-align: left;
  }

  .title {
    margin-bottom: var(--size-m);
    color: var(--color-green);
    font-size: var(--size-l);
    font-weight: var(--fw-medium);
  }
  
  .subtitle {
    font-size: var(--size-m);

      a {
      color: var(--color-pink);
    }
  }

  @media only screen and (width >= 40rem) {
    .title {
      font-size: var(--size-xl);
    }
    
    .subtitle, .subtitle a {
      font-size: var(--size-l);
    }
  }
}